<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Sound! TypeSystem</title>
</head>
<body>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">Sound! TypeSystem</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/zip">ZIP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/csv">CSV</a>
        </li>
      </ul>
      <span class="navbar-text">
        {{ .Balance }} LAM
      </span>
    </div>
  </nav>

  {{ template "content" . }}

</div>

</body>
</html>
