<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Sound! TypeSystem</title>
</head>
<body>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sound! TypeSystem</a>
  </nav>

  <h1 class="my-4">Best Solutions</h1>

  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Problem</th>
      <th scope="col">Steps</th>
      <th scope="col">Solver</th>
      <th scope="col">Time</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Problem }}</td>
        <td>{{ .Score }}</td>
        <td>{{ .Solver }}</td>
        <td>{{ (localTime .Submitted).Format "2006-01-02 15:04:05" }}</td>
        <td><a href="https://storage.googleapis.com/sound-type-system/solutions/{{ .ID }}/solution.txt">Solution</a></td>
      </tr>
    {{ end }}
    </tbody>
  </table>

</div>

</body>
</html>
