{{ define "content" }}

<h1 class="my-4">
  Problem: {{ .Problem }} ({{ .Solutions | len }})
</h1>

<ul class="nav nav-tabs">
  {{ range $p := .Purchases }}
    <li class="nav-item">
      <a class="nav-link {{ if eq $p $.Purchase }}active{{ end }}" href="?purchase={{ $p }}">{{ if $p }}{{ $p }}{{ else }}Base{{ end }}</a>
    </li>
  {{ end }}
</ul>

<table id="player">
  <tr>
    <td><div><canvas style="display: block; width: 800px; height: 500px" id="canvas"/></div></td>
    <td valign="top">
      <div id="main_section" valign="top"></div>
      <div>Execution speed: <text id="speed_text"></text></div>
      <br />
      <table class="table table-sm">
        <tr><td>r</td><td>Prepare/Reset</td></tr>
        <tr><td>Space (s)</td><td>Start/Pause execution</td></tr>
        <tr><td>Right (d)</td><td>Increase speed</td></tr>
        <tr><td>Left (a)</td><td>Decrease speed</td></tr>
      </table>
    </td>
  </tr>
</table>

<h2>Solutions</h2>

<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">Problem</th>
    <th scope="col">Steps</th>
    <th scope="col">Solver</th>
    <th scope="col">Time</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {{ range .Solutions }}
    <tr>
      <td>{{ .Problem }}</td>
      <td>{{ .Score }}</td>
      <td>{{ .Solver }}</td>
      <td>{{ (localTime .Submitted).Format "2006-01-02 15:04:05" }}</td>
      <td>
        <a href="javascript:loadSolution({{ .ID }})">Play</a>
        <a href="https://storage.googleapis.com/sound-type-system/solutions/{{ .ID }}/solution.txt">Solution</a>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>



<script src="/static/lambda.201906231507.js"></script>

<script>render();</script>

<script>
    function setInput(id, blob, name) {
        const file = new File([blob], name);
        const dt = new DataTransfer();
        dt.items.add(file);
        const input = document.getElementById(id);
        input.files = dt.files;
        input.onchange();
    }

    function setInputText(id, text, name) {
        const blob = new Blob([text], {type: 'text/plain'});
        setInput(id, blob, name);
    }

    async function setInputUrl(id, url) {
        const res = await fetch(url);
        if (!res.ok) {
            throw Error('not found: ' + url);
        }
        const blob = await res.blob();
        const comps = url.split('/');
        const name = comps[comps.length-1];
        setInput(id, blob, name);
    }

    async function loadSolution(id) {
        await setInputUrl('submit_solution', 'https://storage.googleapis.com/sound-type-system/solutions/' + id + '/solution.txt');
        const button = document.getElementById('execute_solution');
        await new Promise((resolve) => {
            const ticket = setInterval(() => {
                if (button.disabled) {
                    return
                }
                clearInterval(ticket);
                resolve();
            }, 100);
        });
        button.click();
    }

    async function main() {
        await setInputUrl('submit_task', 'https://storage.googleapis.com/sound-type-system/problems/{{ .Problem }}.desc');
        setInputText('submit_boosters', {{ .Purchase }}, {{ .Purchase }});
        {{ if .BestSolution }}
        await loadSolution({{ .BestSolution.ID }});
        {{ end }}
    }

    main();
</script>

{{ end }}
